* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

h1 {
    font-size: 45px;
    color: aliceblue;
    font-weight: 600;
    text-shadow: 2px 2px 2px #000;
}

header {
    text-align: center;
    background-color: rgb(102,94,74);
    padding: 4px 10%;
    margin-bottom: 50px;
}

.app {
    background: url(../src/images/odan_mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.taskCard {
    width: 250px;
    padding: 10px 25px;
    margin: 10px 1%;
    background-color: rgb(211 207 207);
    border-radius: 5px;
}

.TaskCardTitleInputArea {
    margin-bottom: 10px;
    width: 30%;
    cursor: pointer;
}

.taskCardTitleInput {
    width: 80px;
    font-size: 1.1rem;
    padding: 4px 6px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.taskAddInput {
    width: 100%;
    font-size: 1.3rem;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.taskBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(75, 75, 75);
}

.TaskText {
    margin-left: 12px;
}

.taskTrashButton {
    margin-right: 9px;
    border: none;
    cursor: pointer;
}

.addTaskCardArea {
    margin-left: 1%;
    margin-top: 25px;
}

.addTaskCardBtn {
    padding: 10px 18px;
    border-radius: 9999px;
    font-size: 30px;
    background-color: rgb(221, 194, 162);
    box-shadow: 3px 3px 8px 1px #000;
    cursor: pointer;
    transition: all 0.3s;
}

.addTaskCardBtn:hover {
    box-shadow: none;
    transform: translate(3px , 3px );
}

.taskCardsArea {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.taskCardTitleFlex {
    display: flex;
    justify-content: space-between;
}

.taskCardDeleteBtn {
    border: none;
    background-color: rgb(211 207 207);
    color: rgb(158, 48,48);
    cursor: pointer;
    font-size: 16px;
}